# Ignore IDEA project files
*.iml
*.zip
/.idea
*.class
*.log
# Ignore generated stuff
*/target
/target
*/project/target
*/project/project/target
/docs
*/logs
.vagrant
.DS_Store
*/.ensime
*/.ensime_cache
/.ensime
/.ensime_cache
**/secrets.conf

